body {margin-right:20px; 
      background-image:url("blanc.jpg"); }

h1 {text-align:center; 
	font-size: 40pt;
	font-family: Calibri;
	color: black;
	}
h2 {
	text-align:center;
	margin: 5px;
	font-size: 20pt;
	color: #3b3b3b;
	font-family: "Open Sans",Verdana,Tahoma,Arial,Helvetica,sans-serif;
	}
ul { list-style-type:none;font-size: 18pt; display:flex; text-align:center; border-bottom:4px solid black; justify-content: space-around;}


h3 { color: red;
	font-size: 30pt;
	font-family: Ink Free;
 }
 .logoapple{ display:flex;height:30px; width:30px;}

 
.panier{width:6%;}
.air{width:55%;}
.table2{border-bottom:1px solid black;border-left:1px solid black; border-top: 1px solid black; border-right:1px solid black; display:flex; justify-content:center;}
.table3{display:flex; justify-content:flex-end;}
.code{font-size:12pt; font-family:Arial;}
.table4{border-bottom:1px solid black;border-left:1px solid black; border-top: 1px solid black; border-right:1px solid black; display:flex; justify-content:center;}

.boutton{background-color:pink;}
.table5{display:flex; justify-content:flex-end;}
.p1{text-align:right;}
.iphone8{width:35%;}
.beats{width:35%;}
.iphonex{width:40%;}
.iphone8rouge{width:40%;}
a:link
{text-decoration:none;
color:black;}
a:hover
{color:red;}
.logoapple{ width:15%;}
.hana{width:65%;}




