 body{background-color:pink;}
h1{text-align:center;}
.panier{ display:flex; justify-content:space-around; width:100px; height:100px;}
.p1{text-align:left;}
ul { list-style-type:none;font-size: 13pt; display:flex; text-align:center; border-bottom:4px solid black; justify-content: space-around;}
a:link
{text-decoration:none;
color:black;}
a:hover
{color:red;}
.hana{width:65%;}
.logoapple{ width:15%;} 
.yellow{background-color:yellow;}
