 .a1{text-align:center;
	font-size:14pt;
	display:flex;
	justify-content:space-between;}
th {font-size:20pt;}
body{background-image:url("blanc.jpg");}

a:link
{text-decoration:none;
color:black;}
a:hover
{color:red;}
ul { list-style-type:none;}
.table1{display:flex; justify-content:center; border: 7px double blue;}
.titre1{display:flex; justify-content:center; color: olive;}
.titre2{display:flex; justify-content:center; color: olive;}