 h1{ text-align:center;}
table {display:flex; justify-content: space-around;  }
.iphone8plus{width: 350px;
height:350px;}
.iphone8plusrouge{width: 350px;
height:350px;}
.macbookair{width: 350px;
height:350px;}
.macbookpro {width: 350px;
height:350px;}
.imac {width: 350px;
height:350px;}
.p2{text-align:center;font-size: 20pt; font-family: Calibri;}
.p4 {text-align:center;font-size: 20pt; font-family: Calibri;}
.p3 {text-align:center;font-size: 20pt; font-family: Calibri;}
.p4 {text-align:center;font-size: 20pt; font-family: Calibri;}
.p5 {text-align:center;font-size: 20pt; font-family: Calibri;}
.p6 {text-align:center;font-size: 20pt; font-family: Calibri;}
.p7 {text-align:center;font-size: 20pt; font-family: Calibri;}
.p8 {text-align:center;font-size: 20pt; font-family: Calibri;}
.p9 {text-align:center;font-size: 20pt; font-family: Calibri;}
body {background-color:gray;}

.beats{width: 350px;height:350px; display:flex; justify-content:center;}
.airpods{display:flex; justify-content:center;width: 300px;height:300px;}
.panier1{background-color:pink;}
.panier2{background-color:pink;}
.panier3{background-color:pink;}
.panier4{background-color:pink;}
.panier5{background-color:pink;}
.panier6{background-color:pink;}
.panier7{background-color:pink;}
.panier8{background-color:pink;}
.panier9{background-color:pink;}
a:link
{text-decoration:none;
color:black;}
a:hover
{color:red;}
.commentaire{margin: 0px;
    width: 531px;
height: 79px;}