 body{background-image:url("blanc.jpg");}

h1 {text-align:center; 
	font-size: 45pt;
	font-family: Calibri;
	}
	
.p1 {text-align:center;
font-size: 18pt;
font-family:Ink Free;
color:black;}

.logo { 
height:60px;
width:60px;}
ul { list-style-type:none;font-size: 18pt; display:flex; text-align:center; border-bottom:4px solid black; justify-content: space-around;}
.panier { width:35px; height:35px;}
a:link
{text-decoration:none;
color:black;}
a:hover
{color:red;}
.hana{width:65%;}
.logoapple{ width:15%;} 
.store{ width:60%;}
table{display:flex; justify-content:center;}

