 .image5{ width:250px;
height:250px;}

.image6{ width:270px;
height:270px;}

.image7{width:260px;
height:260px;}

table {display:flex; justify-content: space-around; }

.image8{ width:300px;
height:300px;}

.image9{ width:320px;
height:300px;}

.image10{width:300px;
height:300px;}
ul { list-style-type:none;font-size: 18pt; display:flex; text-align:center; border-bottom:4px solid black; justify-content: space-around;}
.panier { width:35px; height:35px;}
body{background-image:url("blanc.jpg");}
a:link
{text-decoration:none;
color:black;}
a:hover
{color:red;}
.logoapple{ width:15%;} 
h1 {text-align:center; 
	font-size: 40pt;
	font-family: Calibri;
	color: black;
	}
h2{ font-size: 25pt; font-family:Arial; color:black;border-left:5px solid red;}
.hana{width:65%;}
h3{font-size:15pt; border-left:3px solid green;}
h4{font-size:15pt; border-left:3px solid green;}


