body {margin-right:20px; 
background-image:url("blanc.jpg");}
h1 {text-align:center; 
	font-size: 40pt;
	font-family: Calibri;
	color: black;
	}
h2 {
	text-align:center;
	margin: 5px;
	font-size: 20pt;
	color: #3b3b3b;
	font-family: "Open Sans",Verdana,Tahoma,Arial,Helvetica,sans-serif;
	}
ul { list-style-type:none;font-size: 18pt; display:flex; text-align:center; border-bottom:4px solid black; justify-content: space-around;}


h3 { color: red;
	font-size: 30pt;
	font-family: Ink Free;
 }
table {display:flex; justify-content: space-around; }

 .air{height:350px; width:350px; }
 .essais1{font-size:19pt;}
 .essais2{font-size:19pt;}
 .essais3{font-size:19pt;}
 .iphone8{width:55%; }
 .casque{width:75%;}
 
 
table{display:flex; justify-content:center;}
a:link
{text-decoration:none;
color:black;}
a:hover
{color:red;}
.logoapple{ width:15%;}
.panier { width:35px; height:35px;}
.hana{width:65%;}

